<?xml version="1.0" encoding="UTF-8"?>
<configuration
        xmlns="http://ch.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
>
    <conversionRule
            conversionWord="clr"
            converterClass="org.springframework.boot.logging.logback.ColorConverter"
    />
    <appender
            name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%d{HH:mm:ss} [%-5level][%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender
            name="just-text"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender
            name="just-text-green"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%clr(%msg%n){green}</pattern>
        </encoder>
    </appender>
    <appender
            name="just-text-red"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%clr(%msg%n){red}</pattern>
        </encoder>
    </appender>
    <appender
            name="just-text-endbar"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%clr(%msg%n========================================================%n%n){blue}</pattern>
        </encoder>
    </appender>
    <appender
            name="just-text-strong"
            class="ch.qos.logback.core.ConsoleAppender"
    >
        <encoder>
            <pattern>%clr(%msg%n========================================================%n){blue}</pattern>
        </encoder>
    </appender>

    <logger
            name="com.zaxxer.hikari"
            level="WARN"
    />

    <logger
            name="org.springframework.security"
            level="OFF"
    />
    <logger
            name="com.airpremia.esmsfos.core.config.filter"
            level="OFF"
            additivity="false"
    >
        <appender-ref ref="just-text-strong"/>
    </logger>
    <logger
            name="jdbc"
            level="OFF"
    />
    <logger
            name="jdbc.audit"
            level="OFF"
    />
    <logger
            name="jdbc.resultset"
            level="OFF"
    ></logger>
    <logger
            name="jdbc.sqltiming"
            level="OFF"
    ></logger>
    <logger
            name="org.springframework.transaction.interceptor"
            level="OFF"
    ></logger>
    <logger
            name="org.springframework.jdbc"
            level="OFF"
    ></logger>
    <logger
            name="jdbc.connection"
            level="OFF"
    />
    <logger
            name="com.airpremia.esmsfos.core.config"
            level="debug"
            additivity="false"
    >
        <appender-ref ref="just-text-red"/>
    </logger>
    <logger
            name="jdbc.sqlonly"
            level="INFO"
            additivity="false"
    >
        <appender-ref ref="just-text-red"/>
    </logger>
    <logger
            name="jdbc.resultsettable"
            level="OFF"
            additivity="false"
    >
        <appender-ref ref="just-text-endbar"/>
    </logger>

    <logger
            name="com.airpremia.service.modeling"
            level="INFO"
            additivity="false"
    >
        <appender-ref ref="just-text"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
